CHAOXING_COOKIE="copy_the_full_cookie_header_here"
CHAOXING_HOME_URL="https://i.chaoxing.com/base?ws=1&t=1780231212848"
RUN_TOKEN="replace_with_a_long_random_value"
GOOGLE_CALENDAR_ID="your_calendar_id_or_primary"
GOOGLE_OAUTH_CLIENT_ID="your_oauth_client_id.apps.googleusercontent.com"
GOOGLE_OAUTH_CLIENT_SECRET="your_oauth_client_secret"
GOOGLE_OAUTH_REFRESH_TOKEN="generated_by_npm_run_google:login"
GOOGLE_SERVICE_ACCOUNT_EMAIL="service-account-name@project-id.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_with_private_key\n-----END PRIVATE KEY-----\n"
